html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --hover-color-link: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #757575;
  --blackgrey-color: #212121;
  --advanteges-picture-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* Header */

.header {
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid #ececec;
}

/* Логотип */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-color-link);
  margin-right: 93px;
}

.logo-studio-header {
  color: var(--black-color);
}

.logo-studio-footer {
  color: var(--white-color);
}

/* Навігація */

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blackgrey-color);
  text-decoration: none;
}

.nav-list:hover,
.nav-list:focus {
  color: var(--hover-color-link);
}

.nav-list.current {
  color: var(--hover-color-link);
}

.nav-list.current::after {
  background-color: var(--hover-color-link);
  border-radius: 2px;
  bottom: -32px;
  left: 0px;
  content: '';
  height: 4px;
  display: block;
  position: absolute;
  width: 100%;
}

.nav {
  display: flex;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

/* Контакти */

.contacts-header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--hover-color-link);
}

.contacts-header {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.contacts-header .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-header-icon {
  fill: currentColor;
}

/* Заголовок */

.main-title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.main-title-background {
  padding: 200px 0px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background.jpg);
  background-repeat: no-repeat;
}

/* Кнопка заголовка */

.button-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 32px;
}

/* Наши преимущества */

.section {
  padding: 94px 0;
}

.advanteges {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blackgrey-color);
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  width: 270px;
}

.advanteges-box-icon {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Чем мы занимаемся */

.section-work {
  padding-top: 0;
  padding-bottom: 94px;
}

.work {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 50px;
}

.item {
  position: relative;
}

.work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--blackgrey-color);
}

/* Наша  команда */

.section-team {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  margin-top: 50px;
}

.team-item {
  text-align: center;
  border-right: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--blackgrey-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.team-box-icon {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-top: 16px;
  margin-right: 32px;
  margin-left: 32px;
}

.team-icon:hover,
.team-icon:focus {
  background: #2196f3;
  fill: #ffffff;
  cursor: pointer;
}

.team-icon {
  fill: #afb1b8;
  display: inline-flex;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*Постійні клієнти*/

.section-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-box {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.client-icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: inline-flex;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon:hover,
.client-icon:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
  cursor: pointer;
}

/* Footer */

.contacts-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--hover-color-link);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--hover-color-link);
}

footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.logo-footer {
  display: inline-block;
  margin-right: 0%;
  margin-bottom: 20px;
}

.address {
  padding-left: 0;
  margin-bottom: 0;
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-box-icons {
  width: 206px;
  height: 80px;
}

.footer-box-social {
  display: flex;
  justify-content: space-between;
}

.footer-icons {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:hover,
.footer-icons:focus {
  fill: var(--white-color);
  background-color: var(--hover-color-link);
}

.footer-social-title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  display: inline-block;
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-field-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: var(--white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-field-input:focus {
  border-color: var(--hover-color-link);
}


.container-form-footer {
  width: 570px;
  height: 86px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.footer-field-button {
  padding: 0 28px;
  width: 200px;
  height: 50px;
  background: var(--hover-color-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  border-color: transparent;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  fill: var(--white-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-field-button:hover, .footer-field-button:focus {
  background-color: #188ce8;
}

/* Портфолио */

.button-portfolio {
  display: flex;
  justify-content: center;
}

.button-portfolio .item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio .button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--blackgrey-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.button-portfolio .button:hover,
.button-portfolio .button:focus {
  background-color: var(--hover-color-link);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--blackgrey-color);
  margin-bottom: 4px;
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.projects-item {
  margin-bottom: 30px;
}

.project-link {
  text-decoration: none;
  display: block;
}

.father-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-overlay {
  transform: translateY(0);
}

.project-overlay-text {
  margin: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/*Modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  overflow: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-button-close {
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--hover-color-link);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--blackgrey-color);
}

/*Форма*/

.form {
  margin-top: 12px;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--blackgrey-color);
}

.form-field-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 12px 0 42px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  color: var(--grey-color);
}

.form-field-input:focus {
  border-color: var(--hover-color-link);
}

.form-field-input:focus + .form-field-icon {
  fill: var(--hover-color-link);
}

.form-field-textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-textarea:focus {
  border-color: var(--hover-color-link);
}

.form-field-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--hover-color-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 52px;
  margin: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: #188ce8;
}

.form-field-checkbox {
  margin-bottom: 30px;
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-icon {
  position: absolute;
  top: 4px;
  left: 12px;
  fill: transparent;
  border-radius: 2px;
  border: 2px solid var(--blackgrey-color);
}

.checkbox-input:checked + .checkbox-icon {
  fill: var(--white-color);
  border: none;
  background-color: var(--hover-color-link);
}

.checkbox-label {
  cursor: pointer;
  padding-left: 30px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.form-checkbox-link {
  text-decoration: underline;
  color: var(--hover-color-link);
}